@import "tailwindcss";

:root {
  --bg: 10 10 10;
  --card: 18 18 18;
  --muted: 165 165 165;
  --text: 245 245 245;
  --accent: 245 197 66;
}

html, body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
}

